-- Создание базы данных
USE [master]
GO
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'InShopDB')
BEGIN
    ALTER DATABASE [InShopDB] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [InShopDB];
END
GO

CREATE DATABASE [InShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InShopDB', FILENAME = N'/var/opt/mssql/data/InShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InShopDB_log', FILENAME = N'/var/opt/mssql/data/InShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

USE [InShopDB]
GO

-- Создание таблиц
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Admins](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[AdminUsername] [varchar](50) NOT NULL,
	[HashPassword] [binary](32) NOT NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[ImageURL] [nvarchar](50) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Order_Items](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[QuantityItem] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[TotalPrice]  AS ([QuantityItem]*[Price]) PERSISTED,
 CONSTRAINT [PK_Order_Items] PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderStatus] [nvarchar](50) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[ShipCompanyId] [int] NULL,
	[ShipAddress] [nvarchar](500) NULL,
	[ShipDate] [date] NULL,
	[ShipMethod] [nvarchar](50) NOT NULL,
	[PayStatus] [nvarchar](50) NOT NULL,
	[CustomerFullname] [nvarchar](50) NOT NULL,
	[PayMethod] [nvarchar](50) NOT NULL,
	[CustomerEmail] [nvarchar](250) NOT NULL,
	[CustomerPhoneNumber] [nvarchar](50) NOT NULL,
	[OrderTotalAmount] [money] NOT NULL,
	[SessionId] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[ProductDescription] [nvarchar](max) NULL,
	[ProductPrice] [money] NOT NULL,
	[ProductAvailability] [bit] NULL,
	[ProductCategoryId] [int] NOT NULL,
	[ProductStockQuantity] [int] NOT NULL,
	[ImageURL] [nvarchar](max) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [dbo].[Ship_Companies](
	[ShipCompanyId] [int] IDENTITY(1,1) NOT NULL,
	[ShipCompanyName] [nvarchar](100) NOT NULL,
	[Contact] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Ship_Companies] PRIMARY KEY CLUSTERED 
(
	[ShipCompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[UserSessions](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[UserIPAddress] [varchar](45) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_UserSession] PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Добавление дефолтных значений
ALTER TABLE [dbo].[Order_Items] ADD  CONSTRAINT [DF_Price_Zero]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_OrderDate_DateNow]  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_PayStatus_NoPayed]  DEFAULT ('Не оплачен') FOR [PayStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_OrderTotalAmount_Zero]  DEFAULT ((0.0)) FOR [OrderTotalAmount]
GO

-- Добавление внешних ключей
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD  CONSTRAINT [FK_Order_Items_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Order_Items] CHECK CONSTRAINT [FK_Order_Items_Products]
GO

ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_Items] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO

ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Ship_Companies] FOREIGN KEY([ShipCompanyId])
REFERENCES [dbo].[Ship_Companies] ([ShipCompanyId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Ship_Companies]
GO

ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_UserSession] FOREIGN KEY([SessionId])
REFERENCES [dbo].[UserSessions] ([SessionId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_UserSession]
GO

ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories1] FOREIGN KEY([ProductCategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories1]
GO

-- Вставка тестовых данных

-- Администраторы
INSERT INTO [dbo].[Admins] ([AdminUsername], [HashPassword]) VALUES 
('admin', 0x0000000000000000000000000000000000000000000000000000000000000000),
('superuser', 0x0000000000000000000000000000000000000000000000000000000000000000);
GO

-- Категории
INSERT INTO [dbo].[Categories] ([CategoryName], [ImageURL]) VALUES 
('Электроника', 'electronics.jpg'),
('Книги', 'books.jpg'),
('Одежда', 'clothing.jpg');
GO

-- Компании доставки
INSERT INTO [dbo].[Ship_Companies] ([ShipCompanyName], [Contact]) VALUES 
('DHL', 'support@dhl.com'),
('UPS', 'support@ups.com'),
('Почта России', 'support@pochta.ru');
GO

-- Продукты
INSERT INTO [dbo].[Products] ([ProductName], [ProductDescription], [ProductPrice], [ProductAvailability], [ProductCategoryId], [ProductStockQuantity], [ImageURL]) VALUES 
('Смартфон X1', 'Современный смартфон с отличной камерой', 29999.00, 1, 1, 50, 'phone_x1.jpg'),
('Ноутбук ProBook', 'Мощный ноутбук для работы', 59999.00, 1, 1, 20, 'laptop_probook.jpg'),
('Книга "Искусство программирования"', 'Классическая книга по алгоритмам', 1500.00, 1, 2, 100, 'book_programming.jpg'),
('Футболка "Hello World"', 'Хлопковая футболка с принтом', 999.00, 1, 3, 200, 'tshirt_helloworld.jpg');
GO

-- Сессии пользователей
INSERT INTO [dbo].[UserSessions] ([UserIPAddress], [CreatedAt]) VALUES 
('192.168.1.1', GETDATE()),
('192.168.1.2', GETDATE());
GO

-- Заказы
INSERT INTO [dbo].[Orders] ([OrderStatus], [OrderDate], [ShipCompanyId], [ShipAddress], [ShipDate], [ShipMethod], [PayStatus], [CustomerFullname], [PayMethod], [CustomerEmail], [CustomerPhoneNumber], [OrderTotalAmount], [SessionId]) VALUES 
('В обработке', GETDATE(), 1, 'ул. Ленина, д. 1', NULL, 'Курьерская доставка', 'Не оплачен', 'Иван Иванов', 'Карта', 'ivan@example.com', '+79001234567', 29999.00, 1),
('Выполнен', GETDATE(), 2, 'пр. Мира, д. 10', GETDATE(), 'Самовывоз', 'Оплачен', 'Анна Петрова', 'Наличные', 'anna@example.com', '+79007654321', 59999.00, 2);
GO

-- Позиции заказов
INSERT INTO [dbo].[Order_Items] ([OrderId], [ProductId], [QuantityItem], [Price]) VALUES 
(1, 1, 1, 29999.00),
(2, 2, 1, 59999.00);
GO

-- Установка базы в режим чтения/записи
USE [master]
GO