/* Стили для страницы категории */
.category-page {
    text-align: center;
    padding: 20px;
}

.placeholder-svg {
    width: 40%; /* Устанавливаем размер */
    height: auto; /* Сохраняем пропорции */
    margin: auto; /* Центрируем по вертикали и горизонтали */
}

/* Стили для списка товаров */
.products-list {
    display: flex;
    flex-wrap: wrap; /* Разрешаем перенос карточек на новую строку */
    justify-content: flex-start; /* Выравнивание карточек по левому краю */
    gap: 30px; /* Увеличенное расстояние между карточками */
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
    max-width: 1400px; /* Ограничиваем максимальную ширину контейнера */
    margin: 0 auto; /* Центрируем контейнер */
}

.product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;

    /* Увеличенная фиксированная ширина и высота */
    width: 320px; /* Было 250px */
    height: 380px; /* Было 300px */

    /* Используем Flexbox для вертикального выравнивания */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Текст будет прижат к низу */
}

.product-content {
    display: flex;
    flex-direction: column;
    height: 100%; /* Высота контейнера равна высоте карточки */
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравнивание текста по центру */
    margin-top: auto; /* Прижимает текст к низу */
}

.product-card img {
    width: 100%; /* Изображение занимает всю ширину карточки */
    height: 250px; /* Увеличена высота изображения */
    object-fit: cover; /* Обрезка изображения, если необходимо */
    margin-bottom: -20px;
}

.product-card h3 {
    font-size: 1.4em; /* Увеличен размер заголовка */
    margin: 0;
    padding: 0 20px; /* Добавляем внутренние отступы для текста */
}

.product-card p {
    font-size: 1.1em; /* Увеличен размер цены */
    font-weight: bold;
    color: #333;
    margin: 0;
    padding: 5px 10px; /* Увеличены отступы */
}

.product-card:hover {
    transform: scale(1.03); /* Немного меньшее увеличение, чтобы не перегружать */
}